DATABASE_URL=postgresql+asyncpg://postgres.XXXX:MOTDEPASSE@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
SEARCH_TERM=paysagistes
HEADLESS=false
MIN_DELAY=10
MAX_DELAY=30
LOG_LEVEL=INFO
API_KEY=changeme
